# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Visual crap
*.tlog
*.idb
*.pdb
*.ilk
*.lastbuildstate
*.log
*.sdf
*.suo
*.opensdf

#Dirs
Engine/External/glew.1.9.0.w32/doc
Engine/External/glew.1.9.0.w32/*.txt
Engine/External/glew.1.9.0.w32/bin/glewinfo.exe
Engine/External/glew.1.9.0.w32/bin/visualinfo.exe
Tools/Coding/External/glew.1.9.0.w32/doc
Tools/Coding/External/glew.1.9.0.w32/*.txt
Tools/Coding/External/glew.1.9.0.w32/bin/glewinfo.exe
Tools/Coding/External/glew.1.9.0.w32/bin/visualinfo.exe
Engine/Out/
Game/Out
Editor/Out
Tools/Memory/Out
Tools/Coding/Out
Tools/Math/Out
Asset/CompanionCube